/*!
 * theme by meowcatcoder with bootstrap
 */

 @import url(https://fonts.googleapis.com/css?family=Dancing+Script);

body {
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    color: gray;
    
}

html {
    width: 100%;
    height: 100%;
}


p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1;
}
.line {
    border-bottom: 3px solid;
    padding-bottom: 2%;
    width: 26%;
}
/*headerblur*/

.content{
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 1;
  }

  h1 {
    font-size: 2.5em;
    font-family: 'Dancing Script', cursive;
  }
  
    h2, h3{
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    }

  
.type {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5em;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 16.8em;
  animation: type 3s steps(60, end); 
}

.type:first{
  animation: type2 7s steps(60, end);
}

.type a{
  color: white;
  text-decoration: none;
}

.span{
  animation: blink 1s infinite;
}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}



.site{
  padding: 20em 0;
  text-align: center;
  background-color: #efefef;
  
  font-size: .8em;
  color: #444;
  }
  
  a{
    color: #666;
    text-decoration: none;
  }
    
    &:hover{
      color: #222;
  }


@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: #42dca3;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #1d9b6c;
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
        font-weight: 600;

    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    border-bottom: 2px solid #E49400;
    outline: 0;
    color: #E49400;
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: #000;
    }
}

.intro {
    position: relative;
    overflow: hidden;
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url("http://blog.protanitim.com/wp-content/uploads/2015/06/curios-cat-laptop-screen-light-wide-hd-wallpaper.jpg") no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

.btn-circle {
        background-color: rgba(255, 255, 255, 0.17);
    width: 70px;
    height: 70px;
    position: relative;
    top: 100px;
    right: 0%;
    margin-top: 100px;
    padding: 10px 16px;
    /* border: 1px solid #fff; */
    border-radius: 100%!important;
    font-size: 35px;
    color: #fff;
    /* background: 0 0; */
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 80px;
}

.content {
    margin-top: 13%;
}


@media(min-width:767px) {
    .content-section {
        padding-top: 85px;
    }
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-color {
        color: rgba(56, 56, 56, 0.97);
    background-color: rgba(255, 255, 255, 0.52);
}

.btn-color:hover,
.btn-color:focus {
    border: 1px solid black;
    outline: 0;
    color: #fff;
    background-color: black;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
    .pd-xs {
        padding: 15%!important;

    }

    .intro {
    position: relative;
    overflow: hidden;
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url("http://pre08.deviantart.net/3f72/th/pre/f/2014/124/3/b/3bfe1475ab4255dd4e36edc74aefa10f-d7h2oq3.jpg") no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
        background-position-y: 30%;
   
}
footer {
    padding: 20px 0%;
}

}

footer {
    padding: 2.5% 0;
}

footer p {
    margin: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}


/*parallax image*/


.parallax-window {
    min-height: 500px;
    background: transparent;
}

.line-purple {    border-left: 15px solid #820037;}

/*work*/
.bg-gray {
     background-color: #F9F9F9;
    border: 5px solid rgba(255, 255, 255, 0);
}

.sec {
  display: inline-block!important;
}


.sec-2 {
  margin: auto;
    position: relative;
    bottom: 50px;

}

.sec-3 {
    position: relative;
    bottom: 100px;
}
.p {
    font-weight: 900;
    color: white;
    position: absolute;
    font-size: 1.5em;
}
.a {
        margin-top: 44px;
    margin-bottom: 53px;
    margin-left: 37px;
    margin-right: 30px;
}

.b {
    font-weight: 900;
    color: white;
    position: absolute;
    margin-top: 55px;
    margin-bottom: 70px;
    margin-left: 68px;
}

.c {
    margin-top: 60px;
    margin-bottom: 70px;
    margin-left: 21px;
    margin-right: 30px;
    line-height: 2.0;
}

.d {
    margin-top: 94px;
    margin-bottom: 70px;
    margin-left: 45px;
    margin-right: 30px;
}
.e {
    margin-top: 49px;
    line-height: 1.0;
    margin-bottom: 64px;
    margin-left: 69px;
    margin-right: 60px;
}

.hexa .overlay {
    position: absolute;
    width: 40%;
    height: 100%;
    opacity: 0;
    background-image: url("../img/hexahover.png");
    background-repeat: no-repeat;
    text-align: center;
    vertical-align: middle;
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    transition: opacity 300ms;
}

.overlay:hover {
    opacity: 1;
}

/*utilities*/
.em {
    font-size: 3em!important;
}
.absolute {
    position: absolute;
    
}

.one {
    bottom: 14%;
    left: 6.5%;}
.two {
    bottom: 6%;
    left: 3.2%;
}
.three {
    bottom: 14%;
    left: 8%;
}


.pd-5 {
    padding: 5%;
}
.pd-3 {
    padding: 3%;
}

.mb-5 {
    margin-bottom: 5%;
}

.mr-none {
    margin-right: 0px!important;
}

.pt-5 {
    padding-top: 5%;
}


.pb-5 {
    padding-bottom: 5%;
}


.plr-5 {
    padding-right: 5%;
    padding-left: 5%;
}


@media(min-width:767px) {
    
}



.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #18bc9c;
    background: #fff;
}
/*redes sociales*/

.bg-color {
       background-image: url(https://33.media.tumblr.com/5c26c0b33be142eff668c258e9023eb5/tumblr_mr10dgsBxk1rzct2ro1_500.gif);
    width: 100%;
    height: 273px;
    background-position-y: -251%;
}



.hexa {
    background-image: url(../img/hexa.png);
    height: 223px;
    width: 197px;
}


.btn-send {
    color: white;
    background-color: #3DCAAF;
    border: 2px solid white;
}